@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

/* Firefox doesn't display our number inputs properly, so we have to use this */
@-moz-document url-prefix() {
    input[type="color"] {
        width: 56px !important;
        height: 40px !important;
    }
}

* {
    font-family: 'Poppins';
    user-select: none;
}

*:focus {
    outline: 0;
}

h1 {
    margin: 20px;
    font-size: 48px;
}

h2 {
    margin: 20px;
    margin-left: 6%;
}

button {
    background: none;
    border: solid 2px black;
    padding: 5px 10px;
    cursor: pointer;
}

input {
    user-select: text;
}

input[type="text"] {
    background: none;
    border: none;
    border-bottom: solid 2px black;
    width: 70%;
    padding: 5px;
}

input[type="color"] {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

input[type="numerator"] {
    background: none;
    border: solid 2px black !important;
    width: 120px;
    padding-left: 5px;
}

pre {
    text-align: left;
}

code {
    font-family: monospace;
    user-select: text;
}

.divider {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divider>div {
    height: 5px;
    border-radius: 5px;
    background: rgb(185, 185, 185);
    width: 90%;
    margin: 20px;
}

.step {
    margin-left: 8%;
}

#color-text, #color-text-foreground {
    display: inline-block;
    left: 20px;
    top: -15px;
    position: relative;
}

.code {
    margin-top: 50px;
}

#create {
    margin-top: 75px;
    font-size: 28px;
    display: none;
}

footer {
    background: rgb(211, 211, 211);
    height: 50px;
    width: calc(100% + 8);
    bottom: 0;
    margin: -8px;
}

footer>p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
}